@import "tailwindcss";



body {
  margin: 0;
}





@keyframes slide-up {
  0% {
    transform: translateY(4rem);
    opacity: 0;
  }
  100% {
    transform: translateY(2rem);
    opacity: 1;
  }
}

.content-animate {
  animation: slide-up 1s ease 0.5s forwards;
}


