@import "tailwindcss";



body, html {
  width: 100%;
  overflow-x: hidden;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.font-roboto {
  font-family: var(--font-roboto);
}
.font-playFair {
  font-family: var(--font-playFair);
}

.b{
  color: #2f2e2e;
}





@keyframes slide-up {
  0% {
    transform: translateY(4rem);
    opacity: 0;
  }
  100% {
    transform: translateY(2rem);
    opacity: 1;
  }
}

.content-animate {
  animation: slide-up 1s ease 0.5s forwards;
}




